@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
:root {
  --black: #4e5150;
  --gray1: #a9a9a9;
  --gray2: #bdbdbd;
  --gray3: #b9bdcf;
  --background: #e5e5e5;
}

body {
  min-height: 100vh;
  font-family: Montserrat;
  padding: 3rem 14rem 1.65rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
p {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 27px;
  color: var(--black);
  margin-top: 1.35rem;
  font-weight: 600;
}

h2 {
  font-size: 17px;
  color: var(--gray1);
  font-weight: 600;
  margin-top: 0.65rem;
}

.profile {
  width: 11rem;
  height: 11rem;
  border-radius: 16px;
}

.cards {
  display: flex;
  gap: 1.65rem;
  margin-top: 1.75rem;
}

.card {
  background: var(--background);
  padding: 1rem;
  border-radius: 0.75rem;
  width: 80px;
}

.card__number,
.card__text {
  text-align: center;
  font-weight: 600;
}

.card__number {
  font-size: 18px;
  color: var(--black);
}

.card__text {
  font-size: 14px;
  color: var(--gray2);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.75rem;
  margin-top: 4.5rem;
}

.gallery img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.gallery img:hover {
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.24);
  opacity: 0.8;
}

.gallery img:nth-child(2) {
  grid-column: span 2;
}

.gallery img:nth-child(3) {
  grid-column: span 2;
}

.gallery img:nth-child(4) {
  grid-row: span 2;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 5rem;
  color: var(--gray3);
  font-weight: 600;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus,
footer a:visited {
  font-weight: 700;
  color: var(--gray3);
}

@media (max-width: 1025px) {
  body {
    padding: 3rem 7rem 1.65rem;
  }

  .card {
    width: 70px;
    padding: 0.75rem;
  }

  .card__number {
    font-size: 16px;
  }

  .card__text {
    font-size: 12px;
  }

  .gallery {
    gap: 1.5rem;
  }

  .cards {
    gap: 1.3rem;
  }
}

@media (max-width: 769px) {
  body {
    padding: 3rem 4.5rem 1.65rem;
  }

  .gallery {
    gap: 1.25rem;
  }
}

@media (max-width: 640px) {
  body {
    padding: 3rem 0.5rem 1rem;
  }

  h1 {
    font-size: 20px;
    margin-top: 1rem;
  }

  h2 {
    font-size: 15px;
    margin-top: 0.45rem;
  }

  footer{
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .profile {
    width: 9rem;
    height: 9rem;
  }

  h1 {
    font-size: 19px;
  }

  h2 {
    font-style: 11px;
  }

  .cards {
    margin-top: 1rem;
    gap: 1.05rem;
  }

  .card {
    width: 60px;
  }

  .gallery {
    margin-top: 3.5rem;
    gap: 1rem;
  }

  footer {
    font-size: 12px;
  }
}
